.info
 {
        padding: 6px 8px;
        font: 14px/16px Verdana, Geneva, sans-serif;
        background: black;
        background: rgb(0, 0, 0);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
 }

.legend {
        line-height: 18px;
        color: #FFFF;
    }

.legend i {
        width: 15px;
        height: 15px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }

.circle {
    float: left;
    border: 1px solid #FFFF;
    border-radius: 90%;
    background-color: #FF7F00;
    }